body{
    background-color: #FFE9DC;
    margin-bottom: -20px;
}

header{
    background-color: #FCE8D8;
    margin-top:  -69px ;
    margin-left: -7px;
    height: 20%;
    width: 100%;
    position: fixed;
    border-bottom: 1px;
    border-bottom-color: #D2895C;
    border-bottom-style: solid;
}


img{
    width: 90px;
    margin-top: 10px;
    margin-left: 50px;
}

li{
    float: left;
    list-style: none;
    padding: 15px;
    margin-top: 15px;
    margin-right: 5px;
    font-family: lobster;
}

nav{
    float: right;
    display: left;
}

a{
    text-decoration: none;
    color: #900C3F;
}

li:hover a{
    color: #FF5733;
}




/*Separador*/

.space01{

    background-color: transparent;
    width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-top: 70px;

}

/*Menú de Bebidas*/


.TitleG h2{

    margin-left: 50px;
    margin-top: 80px;
    font-family: lobster;
    color: #FF5733;
    font-size: 25px;

}

.SpG01{

    width: 1095px;
    height: 0.1px;
    margin-top: -35px ;
    margin-left: 150px;
    background-color: #E4A188; 
    border-radius: 14px;
    border: 2px;
    border-color: #E4A188;
    border-style: solid;

}


/*Primer Foto*/

.G01{

    width: 420px;
    height: 330px;
    margin-top: 50px ;
    margin-left:20px;
    background-color: #581845; 
    border-radius: 14px;
}

.G01 img{

    width: 300px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 30px;
}

.G01 h2{

    margin-left: 0px;
    font-family: lobster;
    color: whitesmoke;
    margin-top: 10px;
}


/*Segunda Foto*/

.G02{

    width: 450px;
    height: 335px;
    margin-top: -345px ;
    margin-left:460px;
    background-color: #D42905; 
    border-radius: 14px;
}

.G02 img{

    width: 300px;
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 30px;
}

.G02 h2{

    margin-left:125px;
    width: 190px;
    font-family: lobster;
    color: white;
    margin-top: 10px;
}

/*Tercera Foto*/

.G03{

    width: 360px;
    height: 335px;
    margin-top: -350px ;
    margin-left:930px;
    background-color: #C70039; 
    border-radius: 14px;
}

.G03 img{

    width: 300px;
    border-radius: 15px;
    margin-left: -7px;
    margin-top: 20px;
}

.G03 h2{

    margin-left:65px;
    width: 375px;
    font-family: lobster;
    color: white;
    margin-top: 15px;
}



/*Pie de Página*/

.PP{

    background-color: #900C3F;
    margin-top:  80px ;
    margin-left: -8px;
    height: 300px;
    width: 1349px;
}


.PC h1{

    margin-left:0px;
    width: 500px;
    font-family: lobster;
    color: white;
    margin-top: -250px;
}


.PC h2{

    margin-left:0px;
    width: 275px;
    font-family: lobster;
    color: white;
    margin-top: 90px;
}

.PC p{

    width: 1000px;
    margin-left: 0px;
    margin-bottom: 40px;
    font-family: roboto;
    color: white;
    text-align: justify;
}

